/* .root {
    display: flex;
    width: 92vw;
    flex-wrap: wrap;
    margin: 10px auto;
    background: rgb(0, 0, 0);
} */



.navbar {
    justify-content: space-between;
}

.card_footer {
    display: flex;
    flex-direction: column;

}

.faqouter {
    width: 1320px;
    margin: auto;
}

.questions {
    font-weight: 500;
}

.active {
    background-color: limegreen;
}

.closed {
    display: none;
}

.date {

    display: flex;
    z-index: 1000;
    position: relative;
    margin: 2rem auto;
    flex-direction: column;
    width: 10vw;
    padding: 0.2rem;

    border-radius: 2rem;

    background: rgba(255, 255, 255, 0);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);

    border: 1px solid rgba(255, 255, 255, 0.18);
}

.horizontal-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* Use flexbox to align items horizontally */
}

.horizontal-list li {
    margin-right: 10px;
    /* Add spacing between items */
}


.box {
    height: 4vh;
    margin: 0.2rem auto;
    padding: 0.1rem 0.5rem;
    font-weight: bolder;
    font-style: normal;
    font-size: small;
    font-family: 'Poppins';
    border: 1px solid black;
    border-radius: 1.2rem;
    text-align: center;
    width: 7vw;
}